altgraph==0.17.2
certifi==2021.5.30
future==0.18.2
importlib-metadata==4.8.3
iso8601==1.0.2
numpy==1.19.5
packaging==21.3
pefile==2022.5.30
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.0
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQtChart==5.15.5
PyQtChart-Qt5==5.15.2
pyserial==3.5
pywin32-ctypes==0.2.0
PyYAML==6.0
QDarkStyle==3.1
QtPy==2.0.1
serial==0.0.97
typing_extensions==4.1.1
wincertstore==0.2
zipp==3.6.0
